<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kao</title>
  <meta name="description" content="A simple HTML5 Template for new projects.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="Kao - Facial Recognition Project">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kao-project.herokuapp.com/">
  <meta property="og:description" content="A project to train and test faces using a simple facial recognition model.">
  <meta property="og:image" content="/static/images/bg.webp">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <!-- your content here... -->
  <nav class="navbar">
    <h1 class="nav-logo">Kao</h1>
    <ul class="nav-links">
      <li
        onclick="document.querySelector('.about').scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' })">
        About</li>
    </ul>
  </nav>
  {% block body %} {% endblock %}
</body>

</html>
